<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="  {% url 'employee' %} ">back to empolyee data</a>
    <form method="post">
        {% csrf_token %}
        {{dform.as_p}}
        <input type="submit" value="save">

    </form>

    {% for d in date %}
     <h3>id : {{d.id}}</h3> 
    <h3>Name : {{d.name}}</h3>
 
    <a href=" {% url 'departmentdelete' d.id %} ">delete</a>
    <a href=" {% url 'departmentupdate' d.id %} ">update</a> 
    {% endfor %}



</body>
</html>