<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><h1>form </h1>
    <form action="" method="post">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="save">
    </form><hr>


    {% for d in data  %}
    
    
    <h2>name :{{d.first_name}}</h2>
    <h2>last name :{{d.last_name}}</h2>
    <h2>DOB :{{d.date_of_birth}}</h2>
    <h2> gender :{{d.gender}}</h2>
    <h2>email :{{d.email_id}}</h2>
    <h2>address : {{d.address}}</h2>
    <h2>department id :{{d.department_id}}</h2>
     <a href=" {% url 'update' d.id %} ">update</a>
     <a href=" {% url 'delete' d.id%} ">delete</a>
    
    <hr>
    
    
    {% endfor %}

</body>
</html>